# Java test case and test runner templates
'.source.java':
  'JUnit Test Case':
    prefix: 'jtest'
    body: '''
        import org.junit.*;
        import static org.junit.Assert.*;

        /**
         * ${1:Thing}Tests
         *
         * @author Jon Staryuk
         */
        public class ${1:Thing}Tests {

          $2

        }

        // TODO: Add this class name to Tests.java
        '''
  'JUnit All Tests':
    prefix: 'jtestall'
    body: '''
      import org.junit.runner.RunWith;
      import org.junit.runners.Suite;

      @RunWith(Suite.class)
      @Suite.SuiteClasses({
        ${1:SomeTests}.class
      })

      public class Tests {
        // Placeholder class
      }
      '''
'.meta.class.body.java':
  'JUnit @Before':
    prefix: 'before'
    body: '''
      @Before public void ${1:setupSomething}() {
        ${2:// Setup test...}
      }
      '''
  'JUnit @Test':
    prefix: 'test'
    body: '''
      @Test public void ${1:Some_test}() {
        ${2:// Test...}
      }
      '''
